@use '../vars';

.card {
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;

  border: 2px solid black;
  position: relative;
  padding: 1em 1.75em;

  header,
  footer {
    flex-shrink: 0;
  }

  article {
    flex-shrink: 4;
    overflow-x: hidden;
    overflow-y: auto;
  }

  filter: blur(1px);
  transition: filter 0.25s ease-in;
}

// CSS trickery using opacity of pseudoelement to transition a background gradient
// <https://keithjgrant.com/posts/2017/07/transitioning-gradients/>
.card::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: vars.$card-bg-color;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.25s linear;
}

@mixin card-snapped {
  filter: blur(0);

  &::before {
    opacity: 1;
  }

  header {
    font-weight: bold;
  }

  a,
  button {
    font-weight: bold;
    color: vars.$tailwind-blue-700;
  }

  strong > em,
  em > strong {
    color: vars.$tailwind-blue-950;
    font-weight: 700;
  }

  a,
  button,
  strong > em,
  em > strong {
    transition: color 0.25s;
    transition-delay: 0.25s;
  }
}

@container scroll-state(snapped: y) {
  .card {
    @include card-snapped;
  }
}

.card-snapped-fallback {
  @include card-snapped;
}
