@use './components/card';

main {
  display: flex;
  flex-direction: column;
  padding-bottom: 50vh;
}

.header {
  padding-top: 2.5rem;
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: pre;
}
