@use '../styles/vars';

.container {
  display: flex;
  flex-direction: column;
  gap: 2em;

  p:first-child {
    margin-top: 0;
  }

  summary {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  summary:hover,
  .details-content:hover {
    cursor: pointer;
  }

  dd {
    font-size: 0.95em;

    i {
      box-sizing: border-box;
      width: 2.1em;
      text-align: right;
      padding-right: 0.25em;
      vertical-align: middle;
    }
  }

  dt + dd,
  dt + dt {
    margin-top: 0.5em;
  }

  dl:not(:first-child),
  dd + dt {
    margin-top: 1em;
  }

  hr {
    margin: 3em 0;
    color: vars.$tailwind-zinc-600;
  }

  .details-content {
    margin-top: 3em;
  }
}

.anchor {
  @include vars.anchor;
  cursor: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
}
