@use '../styles/vars';

.container {
  display: flex;
  flex-direction: column;
  gap: 2em;

  a,
  strong {
    font-family: vars.$font-sans;
  }

  strong > em,
  em > strong {
    font-style: normal;
    color: vars.$tailwind-zinc-600;
  }

  p:first-child {
    margin-top: 0;
  }

  summary {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  summary:hover,
  .details-content:hover {
    cursor: pointer;
  }

  dd {
    font-size: 0.95em;

    a {
      font-weight: 700;
      font-size: 95%;
      white-space: pre-line;
    }

    i {
      box-sizing: border-box;
      width: 2.1em;
      text-align: right;
      padding-right: 0.25em;
      vertical-align: middle;
    }
  }

  dd + dd {
    margin-top: 0;
    margin-bottom: 0;
  }

  dt + dd,
  dt + dt,
  dl:not(:first-child) {
    margin-top: 1em;
  }

  dd + dt,
  dl + p {
    margin-top: 2em;
  }

  hr {
    margin: 3em 0;
    color: vars.$tailwind-zinc-600;
  }

  .details-content {
    margin-top: 2em;
  }
}

.anchor {
  @include vars.anchor;
  cursor: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
}
