.header {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  white-space: preserve-spaces;
}

.title {
  font-size: 2.25rem;
  font-weight: 900;
}

.subtitle {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 800;
}

.subsubtitle {
  margin-top: 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
}

%abstract {
  display: block;

  margin-top: 3rem;
  font-size: 0.875rem;
  text-align: center;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;

    li {
      display: flex;
      white-space: nowrap;

      a {
        font-size: 0.95em;
      }
    }

    .description {
      font-weight: 500;
    }
  }
}

@mixin col-display {
  ul {
    flex-direction: column;
    gap: 0.5em;

    li {
      height: 1.25em;
      line-height: 1.25em;
    }
  }

  .description {
    margin-bottom: 0.5em;
  }
}

@mixin row-display {
  ul {
    flex-direction: row;
    gap: 0;

    li {
      height: 1.5em;
      line-height: 1.5em;
    }

    li:not(:first-child)::before {
      display: inline-block;
      width: 3rem;
      content: '|';
      font-weight: 600;
    }
  }

  .description {
    margin-bottom: 0;
  }
}

.abstract-responsive {
  @extend %abstract;

  /* column display */
  @include col-display();

  /* row display */
  @media (min-width: 640px) {
    @include row-display();
  }
}

.abstract-col {
  @extend %abstract;
  @include col-display();
}
